html(ng-app='app')
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
  link(rel='stylesheet' href='styles/vendor.css')
  link(rel='stylesheet' href='angular-mn-select.css')
  style.
    body {
      font-family: 'Open Sans', sans-serif;
      -webkit-font-smoothing: antialiased;
    }

body
  form(ng-controller='IndexController as controller' name='form' novalidate)
    h2 mn-select
    p {{ controller.house }}
    div
      mn-select(placeholder='House' required ng-model='controller.house' style='width:500px')
        option(ng-repeat='option in controller.options' ng-value='option.value') {{ option.text }}
      
    
    //- button(type='submit') Submit

  script(src='vendor.js')
  script(src='angular-mn-select.js')
  script.
    angular.module('app', [
      'mn-select',
    ]);

    angular
      .module('app')
      .controller('IndexController', IndexController);

    function IndexController() {
      //- this.house = 'stark'

      this.options = [
        {text: 'Stark', value: 'stark'},
        {text: 'Lannister', value: 'lannister'},
        {text: 'Targaryen', value: 'targaryen'},
        {text: 'Baratheon', value: 'baratheon'},
      ]
    }

